/* components/Layout.module.css */
.navbar-link {
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 10px;
    transition: color 0.3s ease;
}

.navbar-link:hover {
    color: rgb(209, 193, 193);
}

